#arrowup{
    width: 40px;
    transition: all 0.3s;

}

br{
    user-select: none;
}

.official{
    height: 24px;
    transition: all 0.3s;
    margin: 0 0 0 20px;
    user-select: none;
}
.official:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 8px #28918772);
}

.partner{
    height: 24px;
    transition: all 0.3s;
    margin: 0 0 0 20px;
    user-select: none;
}
.partner:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 8px #ffffff72);
}


#arrowup:hover{
    cursor: pointer;
    opacity: 0.8;
}

#div-projects{
    display: block;
}
#div-aboutme{
    display: none;
}

#div-contact{
    display: none;
}
#div-partnerinfo{
    display: none;
}
#div-officialinfo{
    display: none;
}

#myprojectsspan{
    color : #17cebc;
}

#navbar span{
    text-decoration: none;
    transition: all 0.3s;
    padding: 0 20px 0 0px;
    font-weight: bold;
    user-select: none;
}
#navbar span:hover{

    cursor: pointer;
}

/* #navbar a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.559);
    padding: 0 20px 0 0px;
    transition: all 0.3s;
}
#navbar a:hover{
    color: white;
} */
#content a{
    text-decoration: none;
    transition: all 0.3s;
    color: #289186;

}
#content a:hover{
    color : rgba(255, 255, 255, 0.474);
}


#navbar{
    padding: 30px 0 60px 0;
}
#navbar span{
    font-size: 20px;
}
#fulcrum{
    height: 40px;
    margin: 0 0px 0 15px;
    transition: all 0.3s;
    user-select: none;
}


html {
    scroll-behavior: smooth;
  }
body {
    background-color: #080808;
    margin: 0;
    display: flex; 
    justify-content: center;
    font-family: Nobile;
    
}

#copied{
    position: absolute;
    width: 200px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 19px;
    display: flex;
    align-items: center;
}
span{
    font-size: 16px;
}

.mainbutton{
    border: thin solid transparent;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    color: white;
    background-color: rgb(40, 40, 40);
    transition: all 0.3s;
    user-select: none;
    
}
.mainbutton:hover{
    cursor: pointer;
    background-color: #17cebc;
    color: rgb(40, 40, 40);
    scale: 1.1;
}

#bodycenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#main {
    max-width: 700px;
    background-color: rgb(21, 21, 21);
    color: white;
    border-radius: 30px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    justify-content: center;
    /* border: 5px solid #25776f82; */
    transition: all 0.3s;
    filter: drop-shadow(0px 0px 100px #25776f85);
    /* box-shadow: 15px 15px 140px #0a6e644a, -15px -15px 140px #1a841d5a;  */
    /* animation: rotateShadow 5s infinite linear;
    /* box-shadow: 15px 15px 140px #1683c1, -15px -15px 140px #e66700;
    animation: rotateShadowFulcrum 5s infinite linear; */
    /* border: 3px solid #25776f82; */

}


/* @keyframes rotateShadow {
    0% {
        box-shadow: 15px 15px 140px #0a6e644a, -15px -15px 140px #1a841d5a;
    }
    25% {
        box-shadow: 15px -15px 140px #0a6e644a, -15px 15px 140px #1a841d5a;
    }
    50% {
        box-shadow: -15px -15px 140px #0a6e644a, 15px 15px 140px #1a841d5a;
    }
    75% {
        box-shadow: -15px 15px 140px #0a6e644a, 15px -15px 140px #1a841d5a;
    }
    100% {
        box-shadow: 15px 15px 140px #0a6e644a, -15px -15px 140px #1a841d5a;
    }
} */

@keyframes rotateShadowFulcrum {
    0% {
        box-shadow: 15px 15px 140px #1683c1, -15px -15px 140px #e66700;
    }
    25% {
        box-shadow: 15px -15px 140px #1683c1, -15px 15px 140px #e66700;
    }
    50% {
        box-shadow: -15px -15px 140px #1683c1, 15px 15px 140px #e66700;
    }
    75% {
        box-shadow: -15px 15px 140px #1683c1, 15px -15px 140px #e66700;
    }
    100% {
        box-shadow: 15px 15px 140px #1683c1, -15px -15px 140px #e66700;
    }
}


header{
    width: auto;
    height: auto;
}


#logo {
    max-width: 100%;
    transition: all 0.9s;
    user-select: none;
}
#logo:hover{
    filter: drop-shadow(0px 0px 20px #25776f6e);
    cursor: pointer;
}

#head-div {
    display: flex;
    justify-content: center;
    height: 250px;
}

#banner {
    width: 100%;
    height: auto;
    border-radius: 30px 30px 0 0;
    user-select: none;
}
#hd-1{

    width: 150px;
    height: 100%;
    padding: 60px 50px 0 0;
}

#hd-2{
    width: 50%;
    height: 100%;
    padding: 3px 0 0 0;
    line-height: 1.5;
}

#usertag{
    opacity: 0.7;
    font-size: 20px;
    padding: 4px 0 0 0px;
    margin: 0 0 20px 15px;
    transition: all 0.3s;

}
#usertag:hover{
    color: #17cebc;
    cursor: pointer;
}
#usertag-bottom{
    opacity: 0.7;
    font-size: 20px;
    padding: 4px 0 0 20px;
    margin: 0 0 20px 0;
    transition: all 0.3s;
    color: #289186;

}
#usertag-bottom:hover{
    color: #00ffe5;
    cursor: pointer;
}

#content{
    width: 70%;
    margin-left: 7%;
    margin-bottom: 50px;

    height: auto;
}

#hd-nametag{
    display: flex;
    padding: 60px 0 0 0;
}
#hd-nametag h1{
    margin: 0;
    padding: 0;
}
#contact-icons{
    width: auto;
    padding: 0 0 20px 70px;
    user-select: none;
}
.soc-icon{
    padding: 5px 20px 5px 15px;
    transition: all 0.3s;
    width: 30px;
    user-select: none;
}
.soc-icon:hover{
    cursor: pointer;
    opacity: 0.6;
    /* scale: 1.15; */
}

#content span{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}




.projectimg{
    width: 40px;
    margin: 0 20px 0 0;
    transition: all 0.3s;
    user-select: none;
}


@media (max-width: 600px){
    #fulcrum{
        height: 25px;
        margin: 0 0px 0 15px;
        transition: all 0.3s;
    }
    #main {
        max-width: 100%;
        background-color: rgb(21, 21, 21);
        color: white;
        border-radius: 30px;
        filter: drop-shadow(0px 0px 0px #2E5B67);
        height: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        
        display: grid;
        justify-content: center;
    }
    #main:hover{
        scale: 1;
        filter: none;
    }
    h1{
        font-size: 23px;
    }
    h2{
        font-size: 19px;
    }
    h3{
        font-size: 16px;
        display: flex;
        align-items: center;
    }
    .official{
        height: 16px;
        transition: all 0.3s;
        margin: 0 0 0 20px;
    }
    .official:hover{
        cursor: pointer;
        filter: drop-shadow(0 0 8px #2E5B67);
    }
    
    .partner{
        height: 16px;
        transition: all 0.3s;
        margin: 0 0 0 20px;
    }
    .partner:hover{
        cursor: pointer;
    }
    span{
        font-size: 14px;
    }
    #banner {
        max-width: 100%;
        border-radius: 30px 30px 0 0;
    }
    #hd-nametag{
        display: flex;
        width: 50%;
        padding: 100px 0 0 10px;
        flex-wrap: wrap;
    }
    #usertag{
        opacity: 0.7;
        font-size: 13px;
        padding: 4px 0 0 0;
        margin: 0 0 20px 0;
        transition: all 0.4s;
        
    
    }
    #hd-infos{
        width: 100%;
        display: flex;
    }
    #hd-1{

        width: 100%;
        height: auto;
        padding: 0;
        position: absolute;
        display: grid;
        justify-content: center;
        top: 70px;
        transition: all 0.5s;
        /* top: 0;
        left: 50%;
        transform: translate(-50% , -50%); */
    }
    #logo{
        width: 110px;
        height: auto;
        
        filter: drop-shadow(0px 0px 10px #2E5B67);
        transition: all 0.5s;
    }
    #hd-2{
        width: auto;
        padding-left: -30px;
        transition: all 0.5s;
        /* position: relative; */
    }
    #head-div {
        display: flex;
        height: auto;
    }
    
    #contact-icons{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0 20px 0;
        margin: 0;
    }
    .soc-icon{
        padding: 5px 20px 5px 20px;
        transition: all 0.3s;
        width: 20px;
    }
    #content{
        width: 70%;
        margin-left: 7%;
    
        height: auto;
    }
    #navbar a{
        text-decoration: none;
        /* color : #17cebc; */
        transition: all 0.3s;
        font-size: 13px;
        padding: 0;
    }
    #navbar a:hover{
        color: white;
    }
    #navbar{
        padding: 30px 0 30px 0;
        width: 100%;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #navbar span{
        font-size: 15px;
    }
    .p-info{
        font-size: 10px;
        width: auto;
        margin: 10px;
    }
    
}